* {
    padding:0;
    margin:0;    
}

html, body{
    width: 100%;
    height: 100%;
}

:root {
    --background-nav: #54565B;
    --color-btn-edit:rgb(42, 186, 230);
    --color-btn-delete: rgb(238, 68, 68);
    --backgrounf-color-li:#939598;
    --background-btn-register:rgb(15, 170, 28);
    --font-color-title:#FAF8EB;
    --border-input: gray;
    --font-family-navbar: 'Rajdhani', sans-serif;;
    --font-family:Arial, Helvetica, sans-serif;
}