<div class="container-form">
  <form action="">

    <div class="container-first">
      <label for="">Nome</label>
        <input type="text">
      <label for="">Profissão</label>
        <input type="text">
      <label for="">Peso</label>
        <input type="text">
    </div>

    <div class="container-second">
      <label for="">Idade</label>
      <input type="text">
    <label for="">Cidade de Nascimento</label>
      <input type="text">
    <label for="">Aniversário</label>
      <input type="text">
    </div>

    <div class="container-third">
      <button>Voltar</button>
      <button>Salvar</button>
    </div> 

  </form>
</div>

