.container-form{
    height: 100%;   
}

form{
    display: flex;
    justify-content: space-around;
}

.container-first{
    display: flex;
    flex-direction: column;
}

.container-second{
    display: flex;
    flex-direction: column;
}

.container-first, .container-second{
    margin-top: 130px;
}

input{    
    width: 30vw;
    height: 30px;
    border: 2px solid var(--border-input);
    border-radius: 10px;
}

label{
    margin-top: 30px;
    font-family: var(--font-family-navbar);
    font-size: 1.2rem;
    font-weight: bold;
}

.btn-back,.btn-save{
    height: 50px;
    width: 100px;
    margin: 5px;     
    font-weight: var(--font-family); 
    font-size: 1.2rem;
    font-weight: bold;  
    border: none;
    border-radius: 10px;
    margin-top: 50vh;
}

a:link{
    text-decoration: none;
  }

.btn-back{
    color: var(--color-btn-edit);
    border: 1px solid var(--color-btn-edit);
    padding: 1.5vh 2.8vh;
   
}

.btn-save{
    color: var(--background-btn-register);
    border: 1px solid var(--background-btn-register);
}
span{
    color: var(--color-btn-delete);
}

.btn-save:hover{
    transition: 0.5s;
    background-color: var(--background-btn-register);
    color: var(--font-color-title);
}

.btn-back:hover{
    transition: 0.5s;
    background-color: var(--color-btn-edit);
    color: var(--font-color-title);
}

.btn-save:disabled{
    color: gray;
    border-color: gray;

}
.btn-save:hover:disabled{
    background-color: white;
    color: gray;
    
}

