tr, .search-data{
    display: flex;
    justify-content: space-between;   
}

table{
    width: 100%;      
}

tr{
    height: 100%;
    align-items: center;
    border: 1px solid var(--border-input);  
}

td{
    width: 20%;
    list-style: none;
    font-size: var(--font-family);
    font-weight: bold;
    font-size: 1.2rem;   
    margin-top: 20px; 
    margin-left: 10px;    
}

.search-data,.table-register{
    margin: 20px 10px;
}

input{    
    width: 30vw;
    height: 30px;
    border: 2px solid var(--border-input);
}

.btn-register{
    height: 40px;
    width: 120px;  
    background-color: var(--background-btn-register);
    color: var(--font-color-title); 
    font-size: 1.2rem;
    font-weight: bold;  
    border: none; 
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.list-register{
    height: 5vh;
    background-color: var(--backgrounf-color-li);
    color: var(--font-color-title);
    align-items: center;
   
}
.list-register td{
    font-size: 1.3rem;
}

.btn-delete{
    height: 40px;
    width: 80px; 
    margin: 5px;     
    font-size: 1.2rem;
    font-weight: bold;  
    border: none;
}

.btn-edit{    
    color: var(--color-btn-edit);   
    border: 1px solid var(--color-btn-edit);
    padding: 1vh;
   
}

.btn-delete{
    color: var(--color-btn-delete);
    border: 1px solid var(--color-btn-delete);
    background-color: white;
}

a:link{
  text-decoration: none;
}

.btn-delete, .btn-edit,.btn-register, input{
    cursor: pointer;
    font-family: var(--font-family);
    border-radius: 10px;
}

.index-filter{
    display: none;
}

.btn-delete:hover{
    transition: 0.5s;
    background-color: var(--color-btn-delete);
    color: var(--font-color-title);
}

.btn-edit:hover{
    transition: 0.5s;
    background-color: var(--color-btn-edit);
    color: var(--font-color-title);
}

.btn-register:hover{
    transition: 0.7s;
   font-size: 1.3rem;
}