<div class="search-data">
  <input type="text" name="search" id="search">
  <button  class = "btn-register" type="button">Cadastrar</button>
</div>

<div class="table-register">
  <table>
    <tr class="list-register">
      <td>Nome</td>
      <td>Idade</td>
      <td>Profissão</td>
      <td>Cidade de Nascimento</td>
      <td>Peso</td>
      <td>Aniversário</td>
      <td></td>
    </tr>    
    <tr>
      <td>Nayara Fugii</td>    
      <td>26 anos</td>   
      <td>Programadora</td>    
      <td>Matão</td>    
      <td>78</td>   
      <td>23/08/1994</td>    
      <td>
        <button class="btn-edit" type="button">Editar</button>
        <button class="btn-delete" type="button">Excluir</button>
      </td>
    </tr> 
  </table>
</div>
