<div class="search-data">
  <input type="text" name="search" id="search">
  <a class = "btn-register" routerLink="/register" type="button">Cadastrar</a>
</div>

<div class="table-register">
  <table>
    <tr class="list-register">
      <td>Nome</td>
      <td>Idade</td>
      <td>Profissão</td>
      <td>Cidade de Nascimento</td>
      <td>Peso</td>
      <td>Aniversário</td>
      <td></td>
    </tr> 
    <div></div>   
    <tr *ngFor="let data of dataForm">
      <td>{{data.name}}</td>    
      <td>{{data.year}} anos</td>   
      <td>{{data.profession}}</td>    
      <td>{{data.city}}</td>    
      <td>{{data.weight}} kg</td>   
      <td>{{data.birthday}}</td>    
      <td>
        <a class="btn-edit" type="button" routerLink="/edit">Editar</a>
        <button class="btn-delete" type="button" (click)="deleteData(data.id)">Excluir</button>
      </td>
    </tr> 
  </table>
</div>
