.container-form{
    height: 100%;   
}

form{
    display: flex;
    justify-content: space-around;
}

.container-first{
    display: flex;
    flex-direction: column;
}

.container-second{
    display: flex;
    flex-direction: column;
}

.container-first, .container-second{
    margin-top: 130px;
}

input{    
    width: 30vw;
    height: 30px;
    border: 2px solid var(--border-input);
}

label{
    margin-top: 30px;
    font-family: var(--font-family-navbar);
    font-size: 1.2rem;
    font-weight: bold;
}

.btn-cancel,.btn-save{
    height: 50px;
    width: 100px; 
    margin: 5px;     
    font-weight: var(--font-family); 
    font-size: 1rem;
    font-weight: bold;  
    border: none;
    border-radius: 10px;
    margin-top: 50vh;
}

a:link{
    text-decoration: none;
  }

.btn-cancel{
    color: var(--color-btn-delete);
    border: 1px solid var(--color-btn-delete);
    padding: 1.8vh;
}

.btn-save{
    color: var(--background-btn-register);
    border: 1px solid var(--background-btn-register);
}


.btn-save, .btn-cancel, input{
    cursor: pointer;
    font-family: var(--font-family);
    border-radius: 10px;
}
